@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&family=Righteous&display=swap');

* {
    box-sizing: border-box;
  }
  
body{
  font-family: 'Righteous', cursive;
  background-color: #FB6B6B;
  height: 667px;
}

/* font-family: 'Recursive', sans-serif; */
p{
  font-family: 'Recursive', sans-serif;
}

.Main {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid #D70900; /*TEMPORARIO*/
}

.Zap{
  font-size: 36px;
  font-weight: 400;
  color: white;
  line-height: 44.7px;
}

.InicialButton{
  font-family: 'Recursive', sans-serif;
  width: 246px;
  height: 54px;
  background-color: white;
  color: #D70900;
  border: 1px solid #D70900;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.QuestionsPai{
  position: relative;
}
.Questions{
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 30px;
  overflow: auto;
  padding-bottom: 100px;
}
.QuestionsHeader{
  display: flex;
  align-items: center;
  gap: 30px;
}
.QuestionsHeader img{
  width: 52px;
}

.Question{
  font-size: 16px;
  font-weight: 700;
  width: 246px;
  height: 54px;
  background-color: white;
  color: #333333;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.Question ion-icon{
  font-size: 23px;
}

.Answer, .AnswerBack{
  width: 299px;
  height: 131px;
  font-weight: 400;
  background-color: #FFFFD4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 15px;
  position: relative;
}



.Appear{

}


.Answer img{
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.QuestionFooter{
  width: 375px;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.AnswerBack p {
  /* margin-bottom: 30px; */
}
.Alternatives{
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
}

.RedBox{
  width: 85px;
  height: 37px;
  border-radius: 5px;
  background-color: #FF3030;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.OrangeBox{
  width: 85px;
  height: 37px;
  border-radius: 5px;
  background-color: #FF922E;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.GreenBox{
  width: 85px;
  height: 37px;
  border-radius: 5px;
  background-color: #2FBE34;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.AnswerRed, .AnswerOrange, .AnswerGreen{
  font-size: 16px;
  font-weight: 700;
  width: 246px;
  height: 54px;
  background-color: white;
  color: #333333;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  text-decoration-line: line-through;
}

.AnswerRed{
  color: #FF3030;
}
.AnswerOrange{
  color: #FF922E;
}
.AnswerGreen{
  color: #2FBE34;
}

.Disappear{
  display: none;
}